body {
    margin: 0;
    padding: 0;
    background-color: #0f1410;
}
h1, p {
    color: #00FF00;
    font-family: Arial, Helvetica, sans-serif;
}
/* Header */
#homeNav {
    display: flex;
    flex-direction: row;
    height: 10vh;
    background-color: #1E2520;
    align-items: center;
    justify-content: left;
    max-width: 100%;
}

#homeNav a {
    color: #00FF00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    border-radius: 8px;
    padding: 5px;
    transition: color 0.5s ease;
}

#homeNav a:hover {
    color: whitesmoke;
    background-color: gray;
}

.headerNav {
    text-decoration: none;
    font-size: large;
    margin-left: 50px;
}

#logo img {
    height: 8vh;
    width: max-content;
    flex-shrink: 0;
}
#logo {
    display: flex;
    align-items: center;
    margin-left: 0.5vw;
    padding: 0.1vh;
    gap: 0.5vw;
}
#logo span {
    color: #00FF00;
}
#logo a {
    text-decoration: none;
}
#logo h1 {
    color: #000000;
}


/* Login Button */
#loginButton {
  text-decoration: none;
  padding: 10px 20px;
  border: #00FF00 1px solid;
  background-color: #1E2520;
  color: #1E2520;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  right: 20px;
  position: absolute;
  transition: background-color 0.3s ease;
}

#loginButton:hover {
 color: whitesmoke;
 background-color: gray;
}


/* Specific footer */

footer {
    width: 100vw;
    margin-top: 3vh;
}

#homeFoot {
    display: flex;
    flex-direction: row;
    height: 6vh;
    background-color: #1E2520;
    align-items: center;
    justify-content: left;
    max-width: 100%;
}

#homeFoot a {
    color: #00FF00;
    padding: 2px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
}

#homeFoot a:hover {
    color: whitesmoke;
    background-color: gray;
}

#homeFoot img {
    /* margin-left: 0.5vw; */
    height: 5vh;
    width: max-content;
    flex-shrink: 0;
}
#footerLogo {
    margin-left: 0.5vw;
}


/* IndexPage Main */

#indexSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: ; */
        gap: 20px;
        text-align: center;
    }

    #indexSection article {
        background-color: #0f1410;
        text-align: center;
        width: 50%;
        justify-self: center;
    }

.homePageGames {
    color: #00FF00;
    background-color: #1E2520;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.indexImages {
    width: 22vw;
    height: 12vw;
    border: #00FF00 1px solid;
    border-radius: 4px;
}

<<<<<<< HEAD

.homePageScores {
    color: #00FF00;
    background-color: #1E2520;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}


.highscoreFrames {
    color: black;
    background-color: lightgray;
    border: #00FF00 solid 1px;
    border-radius: 4px;
    margin: 0;
    height: 30vh;
}


.highscore-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto auto; 
    gap: 8px; 
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}







=======
/* privecy */
#warning {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #1E2520;
    padding: 1vh;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: auto;
    margin-top: 10vh;
    justify-self: center;
    border-radius: 5vh;
    border: #000000 5px solid;
}
>>>>>>> 3b3e2a9f5f57e501fc847d0a3b0d082f8dc80e81
