body {
    margin: 0;
    padding: 0;
}


#homeNav {
    display: flex;
    flex-direction: row;
    height: 10vh;
    background-color: #1E2520;
    align-items: center;
    justify-content: left;
}

#homeNav a {
    color: #00FF00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

.headerNav {
    text-decoration: none;
    font-size: large;
    margin-left: 50px;
}

#homeNav img {
    height: 10vh;
    width: 10vw;
}
